{# templates/demand/my_demands.html.twig #}
{% extends 'base.html.twig' %}

{# 
vars passed by controller : 
    demands : array of demand entities
#}

{% block body %}
<h1>Mes demandes </h1>

<table class="table">
{% for demand in demands %}
    <tr>
        <td width="150px"><img src="{{ asset('uploads/' ~ demand.photo ) }}" class="card-img-top" alt="photo"/></td>
        <td><b>{{ demand.title}}</b><br>
            <small>crée le {{ demand.date_created|date("d/m/Y") }}</small>
        </td>
        <td> <a class="btn btn-outline-primary" href={{ app.request.baseUrl}}/demand/show/{{ demand.id }}>Gérer</a>
    </tr>
{% endfor %}
</table> 

{% endblock %}